streamlit
pandas
numpy
matplotlib
requests
pymongo
statsmodels
scikit-learn
scipy
tomli
plotly
ipywidgets
jupyterlab-myst
openpyxl
river
cassandra-driver
pyspark==3.5.1
pybaselines
pyjstat
hoggorm
hoggormplot
pydub
sounddevice
kaleido
lipsum
pillow
folium
geopy
streamlit-folium
streamlit-aggrid
